<h1>つなリズム/TsunaRhythm</h1>

<p>こんにちは/Hello<%= @user.name %>,</p>

<p>
つなリズムへようこそ! アカウントを有効にするには、下のリンクをクリックしてください。
</p>

<p>
Welcome to TsunaRhythm! To activate your account, please click the link below.
</p>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
